 @media print{
            .no-print,.main-sidebar,.left-side,.main-header,.content-header{
                display:none !important;
            }
             .foo {
            float: right !important;
            width: 20px !important;
            height: 20px !important;
            margin: 5px !important;
            border: 1px solid rgba(0, 0, 0, .2) !important;
        }
            .content-wrapper,.right-side,.main-footer{
                margin-left:0 !important;
                min-height:0 !important;
                -webkit-transform:translate(0, 0) !important;
                -ms-transform:translate(0, 0) !important;
                -o-transform:translate(0, 0) !important;
                transform:translate(0, 0) !important;
            }
            .fixed .content-wrapper,.fixed .right-side{
                padding-top:0 !important;
            }
            .invoice{
                width:100%;border:0;margin:0;padding:0;
            }
            .invoice-col70{
                float:left;width:70%;
            }
            .invoice-col10{
                float:left;width:80%;
            }
            .invoice-col12{
                float:left;width:100%;
            }
            .invoice-colpay{
               width:60%;       
            }
            .invoice-col20{
                 float:left;width:20%;
            }
            .invoice-col25{
                 float:left;width:28%;
            }
            .invoice-col15{
                width:15%;
            }
            .invoice-col30{
                float:left;width:30%;
            }
            .invoice-col{
                float:left;width:33.3333333%;
            }
            .invoice-col40{
                width:40%;
            }
            .table-responsive{
                overflow:auto;
            }
            .invoice-col1{
                width:10%;
            }
            .table-responsive>.table tr th,.table-responsive>.table tr td{
                white-space:normal !important;
            }
        }