<!-- Form used for updation of data into database -->
<form class="form-horizontal alert alert-default" id="editForm" ng-submit="UpdateInfo(currentUser)" hidden>
<h3 class="text-center">Update Course Details</h3>
	<div class="form-group">
		<label for="Name">Course Code:</label>
		<input type="text" class="form-control" ng-model="currentUser.course_code" value="{{currentUser.course_code}}">
	</div>
	
	
	
	<div class="form-group">
		<label for="Address">Course Title:</label>
		<input type="text" class="form-control" ng-model="currentUser.course_name" value="{{currentUser.course_name}}">
	</div>
        <div class="form-group">
		<label for="Name">Course Fees:</label>
		<input type="text" class="form-control" ng-model="currentUser.course_fees" value="{{currentUser.course_fees}}">
	</div>
	<div class="form-group">
		<button class="btn btn-primary" ng-disabled="empList.$invalid" ng-click="updateMsg(currentUser.id)">Update</button>
	</div>
</form>
