<!-- Form used to add new entries of employee in database -->
<form class="form-horizontal alert alert-default" name="empList" id="empForm" ng-submit="insertInfo(empInfo);" hidden>
<h3 class="text-center">Add New Course</h3>
	<div class="form-group">
		<label for="Name">Course Code:</label>
		<input type="text" name="course_code" class="form-control" placeholder="Enter Course Code" ng-model="empInfo.course_code" value="" autofocus required />
	</div>
	<div class="form-group">
		<p class="text-danger" ng-show="empList.course_code.$invalid && empList.course_code.$dirty">Course code is Empty</p>
	</div>
	
	
	<div class="form-group">
		<label for="Address">Course Title</label>
		<input type="text" name="course_name" class="form-control" placeholder="Enter Course Name" ng-model="empInfo.course_name" autofocus required />		
	</div>
	<div class="form-group">
		<p class="text-danger" ng-show="empList.course_name.$invalid && empList.course_name.$dirty">Course Name is Empty!</p>
	</div>
        <div class="form-group">
		<label for="Name">Course Fees:</label>
		<input type="text" name="course_fees" class="form-control" placeholder="Enter Course Fees" ng-model="empInfo.course_fees" value="" autofocus required />
	</div>
	<div class="form-group">
		<p class="text-danger" ng-show="empList.course_fees.$invalid && empList.course_fees.$dirty">Course fees is Empty</p>
	</div>

	<div class="form-group">
		<button class="btn btn-primary" ng-disabled="empList.$invalid">Add </button>
	</div>
</form>